<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <p>
                <a href="{%url 'todo_list_update' list_detail.id  %}">Edit a List</a>
                <a href="{%url 'todo_list_delete' list_detail.id  %}">Delete a List</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                {% for task in list_detail.completed.all %}
                <tr>
                    <td>
                        <a href="{%url 'todo_item_update' task.id  %}">{{ task.task}}</a>
                    </td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>
</body>



</html>
