{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>

<body>
    <header></header>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{%url 'todo_list_create' %}">Create a list</a></p>
            <p><a href="{% url 'todo_item_create' %}">Create a item</a></p>
            <table>
                <th>Names</th>
                <th>Number of items</th>
                <tbody>{% for todo in todos %}
                    <tr>
                        <td>
                            <a href="{%url 'todo_list_detail' todo.id %}"> {{todo.name}}</a>
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>





</head>

</html>
